{% extends "container.html" %}

{% block corps %}
<div style="position: relative; text-align: left; color: white;" >
    <img src="static/images/Velasco_3.png" alt="Cactus" style="width: 100%">
    <div style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%)">
        <h1 class="display-5">Mentions légales</h1>
        <p>Ce site est un travail universitaire sans but lucratif et sans financements effectué par Esteban Sánchez Oeconomo, étudiant en M2 "Technologies numériques appliquées à l'histoire"
        à l'École nationale des charte et doctorant contractuel à Paris 1 Panthéon-Sorbonne en codirection à l'École des hautes études en sciences sociales.
        Aucune autorisation ou permission, tacite ni formelle, n'a été octroyée par ces organismes dans l'utilisation de leurs logos institutionnels.</p>
        <p>Tous les contenus ont été développés et rédigés par Esteban Sánchez Oeconomo.
        Les images utilisées sont libres de droit et les oeuvres recensées ou exposées sont dans le domaine public.
        Les producteurs des numérisations d'images ont été systématiquement signalés dans la base de données et dans l'onglet "Index des institutions de conservation".</p>
        <p>Les contenus textuels ne peuvent être utilisés sans l'autorisation préalable de l'auteur. Il remercie les utilisateurs de citer dûment toute référence au site ou à ses contenus
        textuels. </p>
        <p> Contact : estebansanchezoeconomo[at]gmail.com</p>
    </div>
</div>
{% endblock %}