<!-- Éléments en fin de page. Les institutions n'ont pas donné de permission pour l'utilisation des logos -->
<div class="container-fluid text-center fixed-bottom p-2" style='background-color: whitesmoke;'>
    <div class="row">
        <div class="col">
            <a href="{{url_for('mentions_legales')}}" style="color: #1a1e21"><p style="position: fixed; bottom: 3px; left: 10%;">Mentions légales</p></a>
        </div>
        <div class="col">
            <a href="{{url_for('about')}}" style="color: #1a1e21"><p style="position: fixed; bottom: 3px; left: 44%">À propos de ce site</p></a>
        </div>
        <div class="col">
            <a href="https://www.ehess.fr/fr" target="_blank"><img style="width: 10%; margin-right: 25px;" src="/static/images/logo_EHESS_noir.png"></a>
            <a href="https://www.pantheonsorbonne.fr/" target="_blank"><img style="width: 30%;margin-right: 14px" src="/static/images/logo_Paris1.png"></a>
            <a href="https://www.chartes.psl.eu/" target="_blank"><img style="width: 30%;" src="/static/images/logo_enc.png"></a>
        </div>
    </div>
</div>